n8n-workflow-v2.json
{
  "name": "DD Proveedores v2 — Política por Área",
  "nodes": [
    {
      "id": "node-webhook-v2",
      "name": "Webhook Sesión v2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "proyecto-politicas-v2",
        "options": {}
      }
    },
    {
      "id": "node-code-v2",
      "name": "Parsear Body v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "// Payload v2 modular desde buildExportPayload()\nlet raw;\ntry {\n  raw = typeof $input.first().json.body === 'string'\n    ? JSON.parse($input.first().json.body)\n    : ($input.first().json.body || $input.first().json);\n} catch(e) {\n  raw = $input.first().json;\n}\n\nconst meta = raw.meta || {};\nconst m1   = raw.modulo_1_configuracion || {};\nconst m2b  = raw.modulo_2b_severidad_consolidada || {};\nconst m4   = raw.modulo_4_responsables || {};\nconst m4b  = raw.modulo_4b_flujos_revision || {};\nconst m5   = raw.modulo_5_observaciones || {};\n\n// ── Procesos ──\nconst procesosEstandar = Object.entries(m1.tiposEvaluacion || {})\n  .filter(([,v]) => v.activo).map(([,v]) => v.nombre).join(', ');\nconst procesosCustom = (m1.procesosPersonalizados || [])\n  .filter(p => p.activo).map(p => p.nombre).join(', ');\n\n// ── Alertas graves consolidadas ──\nconst alertasGraves = (m2b.alertas || []).filter(a => a.severidadFinal === 'grave');\nconst alertasGravesTotal = alertasGraves.length;\nconst alertasGravesGrupos = [...new Set(alertasGraves.map(a => a.grupo))].join(', ');\n\n// ── Revisores por grupo ──\nconst porTema = m4b.porTema || {};\nconst revisoresLinea = Object.entries(porTema).map(([g, data]) => {\n  const r = (data.revisores || [])[0];\n  const nombre = r ? (r.nombre || r.email || 'Sin asignar') : 'Sin asignar';\n  return `${g}: ${nombre}`;\n}).join(' | ');\n\n// ── Responsables por área ──\nconst AREAS = ['abastecimiento','cumplimiento','finanzas','legal'];\nconst LABELS = { abastecimiento:'Abastecimiento', cumplimiento:'Cumplimiento', finanzas:'Finanzas', legal:'Legal' };\nconst porArea = m4.porArea || {};\nconst resps = {};\nAREAS.forEach(a => {\n  resps[`resp_${a}_nombre`] = porArea[a]?.encargado?.nombre || '';\n  resps[`resp_${a}_email`]  = porArea[a]?.encargado?.email  || '';\n  resps[`guardado_${a}`]    = porArea[a]?.guardado ? 'sí' : 'no';\n});\n\n// ── Notas por área ──\nconst notasAreas = AREAS.map(a => {\n  const n = m5.observacionesPorArea?.[a];\n  return n ? `${LABELS[a]}: ${n}` : '';\n}).filter(Boolean).join(' | ');\n\n// ── Mensaje Slack ──\nconst alertasSlack = Object.entries(porTema).map(([g, data]) => {\n  const r = (data.revisores || [])[0];\n  const revisor = r ? (r.nombre || r.email || 'Sin asignar') : 'Sin asignar';\n  const chips = (data.alertasGraves || []).join(', ');\n  return `• 🔴 *${g}* → ${revisor}\\n  _${chips}_`;\n}).join('\\n');\n\nconst respSlack = AREAS\n  .filter(a => porArea[a]?.encargado?.nombre || porArea[a]?.encargado?.email)\n  .map(a => {\n    const enc = porArea[a].encargado;\n    return `• *${LABELS[a]}:* ${enc.nombre || ''} ${enc.email ? `(${enc.email})` : ''}`.trim();\n  }).join('\\n');\n\nconst fechaFormato = meta.timestamp\n  ? new Date(meta.timestamp).toLocaleDateString('es-CL', { day:'2-digit', month:'2-digit', year:'numeric', hour:'2-digit', minute:'2-digit' })\n  : '';\n\nconst slackLines = [\n  ':clipboard: *Nueva política de DD Proveedores completada*',\n  '',\n  `*Empresa:* ${meta.empresa || '(sin nombre)'}`,\n  `*Email CS:* ${meta.email || '(sin email)'}`,\n  `*Fecha:* ${fechaFormato}`,\n  `*Áreas participantes:* ${(meta.areasParticipantes || []).join(', ')}`,\n  '',\n  `*Procesos activos:* ${[procesosEstandar, procesosCustom].filter(Boolean).join(' + ') || 'Ninguno'}`,\n  '',\n  alertasGravesTotal > 0\n    ? `*Alertas graves (${alertasGravesTotal}) y revisores:*\\n${alertasSlack}`\n    : '*Alertas graves:* ninguna',\n  '',\n  respSlack ? `*Responsables por área:*\\n${respSlack}` : '',\n  m5.notasSincronizacion ? `\\n*Notas de sincronización:* _${m5.notasSincronizacion}_` : '',\n].filter(s => s !== undefined).join('\\n');\n\nreturn [{ json: {\n  // Meta\n  empresa:              meta.empresa || '',\n  email:                meta.email || '',\n  timestamp:            meta.timestamp || '',\n  session_id:           meta.sessionId || '',\n  areas_participantes:  (meta.areasParticipantes || []).join(', '),\n  // Procesos\n  procesos_estandar:    procesosEstandar,\n  procesos_custom:      procesosCustom,\n  // Alertas\n  alertas_graves_total: alertasGravesTotal,\n  alertas_graves_grupos: alertasGravesGrupos,\n  revisores_por_grupo:  revisoresLinea,\n  // Responsables\n  ...resps,\n  // Notas\n  notas_areas:          notasAreas,\n  notas_sincronizacion: m5.notasSincronizacion || '',\n  // Para Slack\n  _slack_msg: slackLines,\n}}];"
      }
    },
    {
      "id": "node-sheets-v2",
      "name": "Google Sheets v2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_CON_ID_DEL_SHEET",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "empresa":                "={{ $json.empresa }}",
            "email":                  "={{ $json.email }}",
            "timestamp":              "={{ $json.timestamp }}",
            "session_id":             "={{ $json.session_id }}",
            "areas_participantes":    "={{ $json.areas_participantes }}",
            "procesos_estandar":      "={{ $json.procesos_estandar }}",
            "procesos_custom":        "={{ $json.procesos_custom }}",
            "alertas_graves_total":   "={{ $json.alertas_graves_total }}",
            "alertas_graves_grupos":  "={{ $json.alertas_graves_grupos }}",
            "revisores_por_grupo":    "={{ $json.revisores_por_grupo }}",
            "resp_abastecimiento_nombre": "={{ $json.resp_abastecimiento_nombre }}",
            "resp_abastecimiento_email":  "={{ $json.resp_abastecimiento_email }}",
            "guardado_abastecimiento":    "={{ $json.guardado_abastecimiento }}",
            "resp_cumplimiento_nombre":   "={{ $json.resp_cumplimiento_nombre }}",
            "resp_cumplimiento_email":    "={{ $json.resp_cumplimiento_email }}",
            "guardado_cumplimiento":      "={{ $json.guardado_cumplimiento }}",
            "resp_finanzas_nombre":       "={{ $json.resp_finanzas_nombre }}",
            "resp_finanzas_email":        "={{ $json.resp_finanzas_email }}",
            "guardado_finanzas":          "={{ $json.guardado_finanzas }}",
            "resp_legal_nombre":          "={{ $json.resp_legal_nombre }}",
            "resp_legal_email":           "={{ $json.resp_legal_email }}",
            "guardado_legal":             "={{ $json.guardado_legal }}",
            "notas_areas":            "={{ $json.notas_areas }}",
            "notas_sincronizacion":   "={{ $json.notas_sincronizacion }}"
          }
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONECTAR_CREDENCIAL",
          "name": "Google Sheets"
        }
      }
    },
    {
      "id": "node-slack-v2",
      "name": "Slack Sesión v2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "operation": "post",
        "channel": "REEMPLAZAR_CON_CANAL",
        "text": "={{ $json._slack_msg }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "CONECTAR_CREDENCIAL",
          "name": "Slack"
        }
      }
    }
  ],
  "connections": {
    "Webhook Sesión v2": {
      "main": [[{ "node": "Parsear Body v2", "type": "main", "index": 0 }]]
    },
    "Parsear Body v2": {
      "main": [[{ "node": "Google Sheets v2", "type": "main", "index": 0 }]]
    },
    "Google Sheets v2": {
      "main": [[{ "node": "Slack Sesión v2", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
