n8n-workflow-v2.json
{
  "name": "DD Proveedores v2 — Política por Área",
  "nodes": [
    {
      "id": "node-webhook-v2",
      "name": "Webhook Sesión v2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "proyecto-politicas-v2",
        "options": {}
      }
    },
    {
      "id": "node-code-v2",
      "name": "Parsear Body v2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "let raw;\ntry {\n  raw = typeof $input.first().json.body === 'string'\n    ? JSON.parse($input.first().json.body)\n    : ($input.first().json.body || $input.first().json);\n} catch(e) { raw = $input.first().json; }\n\nconst meta = raw.meta  || {};\nconst m1   = raw.modulo_1_configuracion         || {};\nconst m1b  = raw.modulo_1b_documentos_por_proceso || {};\nconst m2b  = raw.modulo_2b_severidad_consolidada  || {};\nconst m4   = raw.modulo_4_responsables            || {};\nconst m4b  = raw.modulo_4b_flujos_revision        || {};\nconst m5   = raw.modulo_5_observaciones           || {};\n\n// ── Procesos estándar ──\nconst evalTypes  = m1.tiposEvaluacion || {};\nconst matriz     = m1.matrizProcesoArea || [];\nconst customProc = (m1.procesosPersonalizados || []).filter(p => p.activo);\nconst PROC_MAP   = { express:'spot', completa:'general', reforzada:'critico', internacional:'internacional', subcontratacion:'subcontratacion' };\nconst PROC_NOMBRES = { express:'Proveedor Spot', completa:'Proveedor General', reforzada:'Proveedor Crítico', internacional:'Proveedor Internacional', subcontratacion:'Subcontratación' };\n\nconst procCols = {};\nObject.entries(PROC_MAP).forEach(([key, slug]) => {\n  const activo = !!evalTypes[key]?.activo;\n  procCols[`proceso_${slug}_activo`] = activo ? 'sí' : 'no';\n  const row = matriz.find(r => r.proceso === PROC_NOMBRES[key]);\n  procCols[`proceso_${slug}_areas`] = activo && row\n    ? Object.entries(row.areas).filter(([,v]) => v).map(([a]) => a).join(', ')\n    : '';\n});\nprocCols.procesos_custom_nombres = customProc.map(p => p.nombre).join(', ');\nprocCols.procesos_custom_areas   = customProc.map(p => {\n  const row = matriz.find(r => r.proceso === p.nombre);\n  return row ? Object.entries(row.areas).filter(([,v]) => v).map(([a]) => a).join(', ') : '';\n}).join(' | ');\n\n// ── Documentos por proceso ──\nconst docsPP  = m1b.porProceso || [];\nconst docCols = {};\nconst SLUG_PROC = { 'Proveedor Spot':'spot', 'Proveedor General':'general', 'Proveedor Crítico':'critico', 'Proveedor Internacional':'internacional', 'Subcontratación':'subcontratacion' };\nObject.entries(SLUG_PROC).forEach(([nombre, slug]) => {\n  const proc = docsPP.find(p => p.proceso === nombre);\n  docCols[`docs_req_${slug}`] = proc ? proc.documentos.filter(d => d.estado==='requerido').map(d => d.documento).join(', ') : '';\n  docCols[`docs_opc_${slug}`] = proc ? proc.documentos.filter(d => d.estado==='opcional').map(d => d.documento).join(', ')  : '';\n});\ndocCols.docs_custom_resumen = customProc.map(p => {\n  const req = (p.documentos||[]).filter(d => d.estado==='requerido'||d.estado==='req').map(d=>d.documento).join(', ');\n  const opc = (p.documentos||[]).filter(d => d.estado==='opcional' ||d.estado==='opc').map(d=>d.documento).join(', ');\n  return `${p.nombre}: req[${req||'ninguno'}] opc[${opc||'ninguno'}]`;\n}).join(' | ');\n\n// ── Alertas consolidadas por grupo ──\nconst alertasAll = m2b.alertas || [];\nconst porTema    = m4b.porTema || {};\nconst SEV_RANK   = { leve:0, media:1, grave:2 };\nconst SEV_ICON   = { leve:'🔵', media:'🟡', grave:'🔴' };\nconst GROUPS = [\n  ['Tributario','tributario'],\n  ['Financiero','financiero'],\n  ['Legal y Societario','legal_societario'],\n  ['Laboral','laboral'],\n  ['Cumplimiento','cumplimiento'],\n];\nconst alertCols = {};\nGROUPS.forEach(([grupo, slug]) => {\n  const activas = alertasAll.filter(a => a.grupo === grupo);\n  const maxSev  = activas.reduce((b, a) => SEV_RANK[a.severidadFinal] > SEV_RANK[b] ? a.severidadFinal : b, 'leve');\n  const rv      = (porTema[grupo]?.revisores || [])[0];\n  alertCols[`alertas_${slug}`]          = activas.map(a => `${a.alerta}(${a.severidadFinal})`).join(', ') || 'ninguna';\n  alertCols[`alertas_${slug}_severidad`]= activas.length ? maxSev : '';\n  alertCols[`alertas_${slug}_revisor`]  = rv ? (rv.nombre || rv.email || '') : '';\n});\nconst totalActivas = alertasAll.length;\nconst totalGraves  = alertasAll.filter(a => a.severidadFinal==='grave').length;\nconst totalMedias  = alertasAll.filter(a => a.severidadFinal==='media').length;\nconst totalLeves   = alertasAll.filter(a => a.severidadFinal==='leve').length;\n\n// ── Responsables ──\nconst AREAS  = ['abastecimiento','cumplimiento','finanzas','legal'];\nconst LABELS = { abastecimiento:'Abastecimiento', cumplimiento:'Cumplimiento', finanzas:'Finanzas', legal:'Legal' };\nconst porArea  = m4.porArea || {};\nconst respCols = {};\nAREAS.forEach(a => {\n  respCols[`resp_${a}_nombre`] = porArea[a]?.encargado?.nombre || '';\n  respCols[`resp_${a}_email`]  = porArea[a]?.encargado?.email  || '';\n  respCols[`guardado_${a}`]    = porArea[a]?.guardado ? 'sí' : 'no';\n});\n\n// ── Notas por área ──\nconst notasCols = {};\nAREAS.forEach(a => { notasCols[`notas_${a}`] = m5.observacionesPorArea?.[a] || ''; });\nnotasCols.notas_sincronizacion = m5.notasSincronizacion || '';\n\n// ── Slack ──\nconst fechaFormato = meta.timestamp\n  ? new Date(meta.timestamp).toLocaleDateString('es-CL',{day:'2-digit',month:'2-digit',year:'numeric',hour:'2-digit',minute:'2-digit'})\n  : '';\n\nconst procActivos = [\n  ...Object.entries(PROC_MAP).filter(([k]) => evalTypes[k]?.activo).map(([k]) => PROC_NOMBRES[k]),\n  ...customProc.map(p => p.nombre),\n].join(', ');\n\nconst alertasSlack = GROUPS.map(([grupo]) => {\n  const activas = alertasAll.filter(a => a.grupo === grupo);\n  if (!activas.length) return null;\n  const maxSev = activas.reduce((b,a) => SEV_RANK[a.severidadFinal]>SEV_RANK[b]?a.severidadFinal:b,'leve');\n  const rv = (porTema[grupo]?.revisores||[])[0];\n  const revisor = rv ? (rv.nombre||rv.email||'Sin asignar') : 'Sin asignar';\n  return `• ${SEV_ICON[maxSev]} *${grupo}* (${activas.length}) → ${revisor}`;\n}).filter(Boolean).join('\\n');\n\nconst respSlack = AREAS\n  .filter(a => respCols[`resp_${a}_nombre`]||respCols[`resp_${a}_email`])\n  .map(a => `• *${LABELS[a]}:* ${respCols[`resp_${a}_nombre`]} ${respCols[`resp_${a}_email`]?`(${respCols[`resp_${a}_email`]})`:''}`.trim())\n  .join('\\n');\n\nconst slackMsg = [\n  ':clipboard: *Nueva política de DD Proveedores completada*',\n  '',\n  `*Empresa:* ${meta.empresa||'(sin nombre)'}`,\n  `*Email CS:* ${meta.email||'(sin email)'}`,\n  `*Fecha:* ${fechaFormato}`,\n  `*Áreas:* ${(meta.areasParticipantes||[]).join(', ')}`,\n  '',\n  `*Procesos activos:* ${procActivos||'Ninguno'}`,\n  '',\n  totalActivas>0\n    ? `*Alertas: ${totalActivas}* (${totalGraves} 🔴 · ${totalMedias} 🟡 · ${totalLeves} 🔵)\\n${alertasSlack}`\n    : '*Alertas:* ninguna activa',\n  '',\n  respSlack?`*Responsables:*\\n${respSlack}`:'',\n  notasCols.notas_sincronizacion?`\\n*Notas sync:* _${notasCols.notas_sincronizacion}_`:'',\n].filter(s=>s!==undefined).join('\\n');\n\nreturn [{ json: {\n  // Identificación\n  empresa:            meta.empresa||'',\n  email_cs:           meta.email||'',\n  timestamp:          meta.timestamp||'',\n  session_id:         meta.sessionId||'',\n  areas_participantes:(meta.areasParticipantes||[]).join(', '),\n  // Procesos\n  ...procCols,\n  // Documentos por proceso\n  ...docCols,\n  // Alertas resumen\n  alertas_activas_total: totalActivas,\n  alertas_graves_total:  totalGraves,\n  alertas_medias_total:  totalMedias,\n  alertas_leves_total:   totalLeves,\n  // Alertas por grupo\n  ...alertCols,\n  // Responsables\n  ...respCols,\n  // Notas\n  ...notasCols,\n  // Slack\n  _slack_msg: slackMsg,\n}}];"
      }
    },
    {
      "id": "node-sheets-v2",
      "name": "Google Sheets v2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "REEMPLAZAR_CON_ID_DEL_SHEET", "mode": "id" },
        "sheetName":  { "__rl": true, "value": "Sheet1", "mode": "list" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "CONECTAR_CREDENCIAL", "name": "Google Sheets" }
      }
    },
    {
      "id": "node-slack-v2",
      "name": "Slack Sesión v2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "operation": "post",
        "channel": "REEMPLAZAR_CON_CANAL",
        "text": "={{ $json._slack_msg }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": { "id": "CONECTAR_CREDENCIAL", "name": "Slack" }
      }
    }
  ],
  "connections": {
    "Webhook Sesión v2":  { "main": [[{ "node": "Parsear Body v2",   "type": "main", "index": 0 }]] },
    "Parsear Body v2":    { "main": [[{ "node": "Google Sheets v2",  "type": "main", "index": 0 }]] },
    "Google Sheets v2":   { "main": [[{ "node": "Slack Sesión v2",   "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
